
<!-- filter bar  -->
<div class="filterbar">

  <form class="filterbar" action="/toys" id="filter-form" data-remote="true" >
  <div>
    <div class="btn-ghost btn-filter">
        <p>Minimum Age</p>
    </div>

    <div>
        <b> 5 </b><input id="age" data-slider-id='ageSlider' name="slider[age_input]" type="text" data-slider-min="5" data-slider-max="16" data-slider-step="1" data-slider-value="" /><b> 16 </b>
    </div>
  </div>

  <div>
    <div class="btn-ghost btn-filter">
        <p>Price</p>
    </div>
    <div>
          Filter by price per day: <b>€ 1 </b> <input id="price" data-slider-id='priceSlider' type="text" class="span2" value="" data-slider-min="1" name="slider[price_input]" data-slider-max="20" data-slider-step="2" data-slider-value="[1, 20]"/> <b> € 20</b>
    </div>
  </div>

  <div id="date-form">
    <div class="btn-ghost btn-filter">
        <p>Dates</p>
    </div>
    <div>
      <input type="text" id="rangeDate" placeholder="Please select Date Range" data-input>
    </div>
  </div>

  <div>
    <div class="btn-ghost btn-filter">
        <p>Themes</p>
    </div>

     <select name="" id="">
      <%= Theme.all.each do |theme| %>
        <option name="theme" value="<%= theme.name %>"><%= theme.name %></option>
      <% end %>
     </select>
  </form>
  </div>

</div>

</div>

<%= link_to "search", search_path, remote: true  %>

<div id="toys-list">
  <%= render "toys_list", toys: @toys %>
</div>

</div>

<div class="map_container">
  <% if @markers != nil  %>
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  <% else  %>
    <h2>No results within 50km of your address</h2>
  <% end %>
</div>

<%= content_for :after_js do %>
  <%= javascript_pack_tag 'sliderPack' %>
<% end %>

