<h1>Toys#index</h1>
<p>Find me in app/views/toys/index.html.erb</p>

 <% @toys.each_slice(3) do |row| %>
    <div class="row">
      <% row.each do |toy| %>
        <div class="col-md-4 mt-3">
          <div class="card_toy">
              <%= cl_image_tag("toy1_cvw3t4", width: 400, height: 300, crop: :fill) %>
            <div class="title_box">
              <h2><%= toy.name %></h2>
              <div class="star_box">
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
            </div>
          </div>
            <p><%= toy.description%></p>
                  <p><%= toy.min_age %></p>
                  <p><%= toy.theme[:name] %></p>
          <div class="address_box">
            <i class="fas fa-map-marker-alt"></i>
              xxx m
          </div>
            <div class="price_box">
              <div class="price_box_price">
                <%= toy.daily_price %>$
              </div>
            <div class="price_box_text">
                FOR XX DAY
             </div>
            </div>
            <div class="card_toy_button">
                <%= link_to "View this toy", toy_path(toy), class: 'btn-ghost' %>
              </div>

            </div>

          </div>
      <% end %>
    </div>
  <% end %>
</div>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

