<div class="title-pages" style="text-align: center; padding-top: 30px; opacity: 0.7;">
  <h1>You want to rent a toy ? that's here!</h1>
</div>


<!-- filter bar  -->
<div class="filterbar">

  <div>
    <div class="btn-ghost btn-filter">
        <p>Minimum Age</p>
    </div>

    <div>
      <form action="/toys" id="age-slider-form">
        <input id="age" data-slider-id='ageSlider' type="text" data-slider-min="5" data-slider-max="16" data-slider-step="1" data-slider-value="" />
        <input type="submit" value="Save" id="minAgeInput" class="btn-ghost">
      </form>
    </div>
  </div>

  <div>
    <div class="btn-ghost btn-filter">
        <p>Price</p>
    </div>
    <div>
      <form action="/toys" id="price-slider-form">
          Filter by price per day: <b>€ 5 </b> <input id="price" type="text" class="span2" value="" data-slider-min="5" data-slider-max="100" data-slider-step="5" data-slider-value="[5,100]"/> <b> € 100</b>
        <input type="submit" value="Save" id="priceInput" class="btn-ghost">
      </form>
    </div>
  </div>

  <div id="date-form">
    <div class="btn-ghost btn-filter">
        <p>Dates</p>
    </div>
    <div>
      <input type="text" id="rangeDate" placeholder="Please select Date Range" data-input>
    </div>
  </div>

  <div>
    <div class="btn-ghost btn-filter">
        <p>Themes</p>
    </div>
     <%= simple_form_for :query do |f| %>
      <%= f.input :theme, collection: Theme.all %>
     <% end %>

  </div>

</div>

</div>


 <% @toys.each_slice(3) do |row| %>
    <div class="row">
      <% row.each do |toy| %>
        <div class="col-md-4 mt-3">
          <div class="card_toy">
              <%= cl_image_tag toy.picture, width: 400, height: 300, crop: :fill %>
            <div class="title_box">
              <h2><%= toy.name %></h2>
              <div class="star_box">
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
            </div>
          </div>
            <p><%= toy.description%></p>
          <div class="product-details">
            <h3>min age : <%= toy.min_age %></h3>
            <h3>category : <%= toy.theme[:name] %></h3>
          </div>
          <div class="address_box">
            <i class="fas fa-map-marker-alt"></i>
              xxx m
          </div>
            <div class="price_box">
              <div class="price_box_price">
                <%= toy.daily_price %>$
              </div>
            <div class="price_box_text">
                PER DAY
             </div>
            </div>
            <div class="card_toy_button">
                <%= link_to "View this toy", toy_path(toy), class: 'btn-ghost' %>
              </div>

            </div>

          </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="map_container">
  <% if @markers != nil  %>
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  <% else  %>
    <h2>No results within 50km of your address</h2>
  <% end %>
</div>

<%= content_for :after_js do %>
  <%= javascript_pack_tag 'sliderPack' %>
<% end %>

