
<!-- filter bar  -->
<div class="filterbar">

  <form class="d-flex" action="/toys" id="filter-form" data-remote="true" >

  <div class="dropdown">
    <button class="btn-ghost btn-filter dropdown-toggle" type="button" id="ageMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Minimum Age
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <div class="d-flex justify-content-between" style="margin-bottom: 8px;">
        <div>5</div>
        <div>16</div>
      </div>
        <input id="age" data-slider-id='ageSlider' name="slider[age_input]" type="text" data-slider-min="5" data-slider-max="16" data-slider-step="1" data-slider-value="" />
    </div>
  </div>

  <div class="dropdown">
    <button class="btn-ghost btn-filter dropdown-toggle" type="button" id="ageMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Price
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <div class="d-flex justify-content-between" style="margin-bottom: 8px;">
        <div>€2</div>
        <div>€16</div>
      </div>
          <input id="price" data-slider-id='priceSlider' type="text" class="span2" value="" data-slider-min="1" name="slider[price_input]" data-slider-max="20" data-slider-step="2" data-slider-value="[1, 20]"/>
    </div>
  </div>

  <div class="dropdown">
  <button class="btn-ghost btn-filter dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Themes
  </button>
  <div id="theme-list" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <% Theme.all.each do |theme| %>
      <a class="dropdown-item" name="theme" href=""><%= theme.name %></a>
    <% end %>
  </div>
</div>

  </form>

</div>

</div>

<div id="toys-list">
  <%= render "toys_list", toys: @toys %>
</div>

</div>

<div class="map_container">
  <% if @markers != nil  %>
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  <% else  %>
    <h2>No results within 50km of your address</h2>
  <% end %>
</div>

<%= content_for :after_js do %>
  <%= javascript_pack_tag 'sliderPack' %>
<% end %>

