<h1>Toys#show</h1>
<p>Find me in app/views/toys/show.html.erb</p>

<h1><%= @toy.name %></h1>
<%= link_to "Back to index", toys_path, class: "btn-ghost" %>
<%= link_to "Update toy", edit_toy_path(@toy), class: "btn btn-danger" %>
<%= link_to "Delete Cocktail", toy_path(@toy), method: :delete, class: "btn btn-danger" %>

<div id='toy-booking-dates' data-unavailable="<%= @toy.unavailable_dates.to_json %>">
 <!--  do not display booking form if current user is owner of toy -->
  <% if current_user.id != @toy.user_id  %>
      <%= simple_form_for [@toy, @booking] do |f|%>
        <%= f.input :start_date, html5: true %>
        <%= f.button :submit, value: :Book, class: "btn btn-primary btn-lg btn-block" %>
      <% end %>
  <% end %>
</div>
