<div class="title-pages" style="text-align: center; padding-top: 30px; opacity: 0.7;">
  <h1>Welcome to your dashboard</h1>
</div>

<div class="main_dashboard_container">

  <div class="title-pages" style="text-align: center; padding-top: 30px; opacity: 0.7;">
        <h1>My profile</h1>
      </div>

  <div>
    <%= cl_image_tag @user.avatar, height: 50, width: 50, crop: :fill, class: 'avatar-large' %>
    <%= link_to "edit", edit_user_registration_path(current_user) %>
  </div>

      <div class="title-pages" style="text-align: center; padding-top: 30px; opacity: 0.7;">
        <h1>Bookings</h1>
      </div>

     <% @bookings = @user.bookings %></br>
     <% @bookings.each do |b| %>
       <% @toy_id = b.toy_id %>
       <% @toy = Toy.find(@toy_id) %>
       <h1><%= @toy.name %></h1>
    <% end %>

     <div class="title-pages" style="text-align: center; padding-top: 30px; opacity: 0.7;">
        <h1>Your toys for rent</h1>
      </div>


 <% @toys.each do |toy| %>
   <div>
        <%= cl_image_tag toy.picture, height: 300, width: 400, crop: :fill %>
        <h1><%= toy.name %></h1>
        <%= link_to "View this toy", toy_path(toy), class: 'btn-ghost' %>
    </div>
    <% end %>
</div>
