<div class="main_dashboard_container">
<!-- Bootstrap inplementation of the tabs -->

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
      aria-selected="true">My bookings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
      aria-selected="false">My toys</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">

<!-- First tab -->

  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

 <div class="title-pages" style="text-align: center; padding-top: 30px; opacity: 0.7;">
        <h1>My Bookings</h1>
    </div>
      <% @bookings.each_slice(3) do |row| %>
        <div class="row">
          <% row.each do |booking| %>
            <div class="col-md-4 mt-3">
              <div class="card_toy">
                <%= cl_image_tag booking.toy.picture, width: 400, height: 300, crop: :fill %>
                <div class="title_box">
                  <h2><%= booking.toy.name %></h2>
                </div>
                <% if booking.finish? && booking.review.nil? %>
                <a class="btn btn-primary m-1" data-toggle="collapse" href='<%= "#collapse_#{booking.id}" %>' role="button" aria-expanded="false" aria-controls="collapseExample">Did you like this toy?</a>
                <div class="collapse" id="<%= "collapse_#{booking.id}" %>">
                  <div class="card card-body">
                    <p>You've rented this toy from <%= booking.start_date %> to <%= booking.end_date %></p>
                      <div class="container_rating_form">
                              <%= simple_form_for [booking, @review] do |f| %>
                              <%= f.input :content%>
                              <%= f.input :rating %>
                              <%= f.submit "Rate this booking", class: 'btn-ghost' %>
                              <% end %>
                      </div>
                  </div>
                </div>
                <% else %>
                  <div class="product-details">
                    <a>This toy was rented <%= (booking.end_date - Date.today).to_i %> days ago</a></br>
                    <a>An you gave it a rating</a>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>



  </div>

<!-- Sedond tab -->

  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">


   <div class="title-pages" style="text-align: center; padding-top: 30px; opacity: 0.7;">
        <h1>My toys listed for rent</h1>
      </div>
        <% @toys.each_slice(3) do |row| %>
            <div class="row">
              <% row.each do |toy| %>
                <div class="col-md-4 mt-3">
                  <div class="card_toy">
                    <%= cl_image_tag toy.picture, width: 400, height: 300, crop: :fill %>
                      <div class="title_box">
                        <h2><%= toy.name %></h2>
                      </div>
                      <div class="product-details">
                        Display something
                      </div>
                  </div>
                </div>
              <% end %>
            </div>
        <% end %>
    </div>
  </div>


  </div>



