<div class="title-pages" style="text-align: center; padding-top: 30px; opacity: 0.7;">
  <h1>Weclome <%= current_user.email %></h1></h1>
</div>

<!-- Profile section -->
  <div style="text-align: center">
    <%= cl_image_tag current_user.avatar, height: 100, width: 100, crop: :fill, class: 'avatar-large' %>
    <%= link_to "edit", edit_user_registration_path(current_user) %>
  </div>

<!-- Bookings section -->

  <div class="title-pages" style="text-align: center; padding-top: 30px; opacity: 0.7;">
    <h1>My Bookings</h1>
  </div>
  <div>
    <% @bookings.each_slice(3) do |row| %>
      <div class="row">
        <% row.each do |booking| %>
          <div class="col-md-4 mt-3">
            <div class="card_toy">
              <%= cl_image_tag booking.toy.picture, width: 400, height: 300, crop: :fill %>
              <div class="title_box">
                <h1><%= booking.toy.name %></h1>
              </div>
               <div class="product-details">
                  <p>from: <%= booking.start_date %></p>
                  <p>to: <%= booking.end_date %></p>
                </div>
                <% if booking.finish? && booking.review.nil? %>
                  <%= simple_form_for [booking, @review] do |f| %>
                  <%= f.input :content %>
                  <%= f.input :rating %>
                  <%= f.submit "Rate this booking", class: 'btn-ghost' %>
                  <% end %>
                <% else %>
                 <div class="product-details">

                </div>
                <% end %>
              </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

<!-- Rental section -->

  <div>
    <div class="title-pages" style="text-align: center; padding-top: 30px; opacity: 0.7;">
    <h1>My toys listed for rent</h1>
  </div>
  <div>
    <% @toys.each_slice(3) do |row| %>
      <div class="row">
        <% @toys.each do |toy| %>
          <div class="col-md-4 mt-3">
            <h1><%= toy.name %></h1>
            <%= link_to "View this toy", toy_path(toy), class: 'btn-ghost' %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

<!--   #end of main container -->
</div>
